{% extends "base.html" %}

{% block content %}


<div class="row marketing">
  <div class="col-lg-6">
    <h3>Results for Last {{ trades|length }} Picks</h3>
  </div>
  <div class="col-lg-6">

    <div ng-controller="DropdownCtrl">
    <!-- Single button -->
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        See Previous Picks <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="/dashboard/50">50 Picks</a></li>
        <li><a href="/dashboard/100">100 Picks</a></li>
        <li><a href="/dashboard/200">200 Picks</a></li>
        <li><a href="/dashboard/99999">All Previous Picks</a></li>

      </ul>
    </div>

    </div>

  </div>

  <div class="col-lg-8">
    <canvas id="line_chart" width="450" height="300"></canvas>
    <script>
    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("line_chart").getContext("2d");
    options = {scaleBeginAtZero: false}


    var data = {
    labels: [
      {% for item in simulation %}'{{item[0]}}',{% endfor %}
    ],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",

            data: [
              {% for item in simulation %}{{item[1]}},{% endfor %}
            ]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",

            data: [
            {% for item in simulation %}{{item[2]}},{% endfor %}
            ]
        }
    ]


    };

    var myLineChart = new Chart(ctx).Line(data, options);
    </script>
  </div>

  <div class="col-lg-4">

    <table class="table">
    <tr><td><b>Accuracy</td></tr>
      <tr><td><canvas id="doughnut" width="200" height="100"></canvas></td></tr>
      <script>
      // Get the context of the canvas element we want to select
      var ctx = document.getElementById("doughnut").getContext("2d");
      var data = [

        {
            value: {{ doughnut['Green'] }},
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: "Out Performers"
        },
        {
            value: {{ doughnut['Yellow'] }},
            color: "#FDB45C",
            highlight: "#FFC870",
            label: "Neutral Performers"
        },
        {
        value: {{ doughnut['Red'] }},
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Under Performers"
      }
    ]
    options = {}
    var myDoughnutChart = new Chart(ctx).Doughnut(data,options);
    </script>

    <tr><td>Average Return: {{ '%0.2f'|format(doughnut['Average']) }}%</td></tr>
    <tr><td>Median Return: {{ '%0.2f'|format(doughnut['Median']) }}%</td></tr>
    </table>
</div>


  <div class="col-lg-12">
  <table class="table table-hover table-condensed">
    <tr><th>Date</th><th>Company</th><th>Time</th><th>EPS %Beat</th><th>Avg % Change</th><th>10 Day Change</th></tr>
    {% for item in trades %}
      <tr style = 'cursor: pointer;' {% if item['Percent_Change'] > 0.03 %} class = 'success' {% elif item['Percent_Change'] < -0.03 %} class = 'danger' {% endif %} onclick="document.location = '/stock/{{ item['Symbol'] }}/{{ item['Date'] }}/{{ item['Time'] }}'" >
        <td>{{ item['Date'] }}</td>
        <td>{{ item['Symbol']}}</td><td>{{ item['Time']}}</td>
        <td>{% if item['Percent_Beat_EPS'] is not none %}{{ item['Percent_Beat_EPS']*100}}%{% endif %}</td>
        <td>{% if item['Average_Change'] is not none %}{{ '%0.2f'|format((item['Average_Change']*100)|float) }}%{% endif %}</td>
        <td>{% if item['Percent_Change'] is not none %}{{ '%0.2f'|format((item['Percent_Change']*100)|float) }}%{% endif %}</td>
        </tr>
    {% endfor %}


  </table>

  </div>
  </div>


{% endblock %}
